* {
  all: unset;
}

window .music-widget {
  background-color: #000000;
  border-radius: 10px 10px 10px 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
}
